node_modules
dist
coverage
*.log

.env
.env.*

.git
.gitignore
.gitattributes

**/*.spec.ts
src/test
vitest.config.ts
requests.http

CLAUDE.md
README.md
Dockerfile
.dockerignore
docker-compose.yml
drizzle.config.ts
biome.json
